<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div>
      <%= simple_form_for(@company) do |f| %>

        <%= f.input :name, label: false, placeholder: "Name" %>
        <%= f.submit style: "float: right;" %>
      <% end %>
    </div>
  </div>
</div>
