<div>
  <ol>
  <% Member.all.each do |member| %>
    <% if member.company_id == @company.id %>
        <li><b><%= member.first_name %> <%= member.last_name %></b><%= member.username %></li>
    <% end %>
  <% end %>
  </ol>
</div>
